/* Fondo general de la página con gradiente oscuro */
body {
  background: linear-gradient(135deg, #2d3436, #0984e3); /* Gradiente oscuro */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #2d3436;
}

/* Contenido principal */
.main-content {
  min-height: 80vh;
}

/* Estilos del pie de página */
.footer {
  background-color: #1e2a47;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

/* Estilos de la tabla */
.table {
  background-color: #1e2a47; /* Fondo oscuro para la tabla */
  border-color: #444; /* Borde gris oscuro para las celdas */
  color: #1e2a47;
}

th, td {
  color: #0984e3;
  text-align: center;
  padding: 12px;
}

th {
  background-color: #333; /* Fondo gris oscuro para los encabezados */
}

/* Estilo para los botones de acción (iconos) */
button.mat-icon-button {
  color: #0984e3; /* Color de icono azul */
  border-radius: 50%; /* Botón circular */
  background-color: transparent;
}

button.mat-icon-button:hover {
  background-color: #2d3436; /* Fondo oscuro en hover */
  color: #fff; /* Cambiar color del icono en hover */
}

/* Estilo para el botón "Volver al inicio" */
.text-center button {
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #0984e3;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2d3436;
  }
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }

  .text-center button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
