<mat-card>
    <h2>Acerca de Product Store</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Propósito</mat-expansion-panel-header>
        <p>Una tienda online de productos tecnológicos.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Creador</mat-expansion-panel-header>
        <p>Gerson Emmanuel Contreras Gonzalez .</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Tecnologías utilizadas</mat-expansion-panel-header>
        <p>Angular, Bootstrap, Material Design.</p>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-button routerLink="/">Inicio</button>
  </mat-card>
  